.new {
    margin-bottom: 1.5em;
    background-color: #181c2e;
    padding: 1.3em 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    font-weight: bold;
    transition: all .4s;
}

.new:hover {
    background-color: #2c3453;
    transform: scale(1.01);
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border: 1px solid #CCC;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #DDD;
    padding: 0.35em;
}

table th, table td {
    padding: 0.62em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

table td .action {
    border: 0;
    padding: 5px;
    border-radius: 4px;
    margin-right: 3px;
    display: inline-block;
}

.badge {
    padding: .5em 1.5em;
    border-radius: 4px;
    color: white;
}

.dashboard span {
    margin: 2em 0;
    font-size: 1.2em;
    font-weight: 600;
}

.dashboard a {
    padding: 1em 2em;
}

.btn-more {
    margin: 1.5em 0;
    padding: 1.3em 2.4em;
    background-color: #1b234b;
    border: 0;
    color: white;
    font-weight: 100;
    border-radius: 20px;
    transition: all .2s;
}

.btn-more:hover {
    background-color: #3d4880;
    transform: scale(1.03);
}

.circle-loading {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 860px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #DDD;
        display: block;
        margin-bottom: 0.6em;
    }

    table td {
        border-bottom: 1px solid #DDD;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}

